.banner img{
    width: 100%;
    height:400px;
}
.collage-three{
    height: 400px;
    display: flex;
    gap: 5px;
    
}
.collage-three img{
    height: 400px;
    width: 100%;
}
.collage-three div{
    flex: 1;
}
.im3 img{
height: 50%;}

.collage-square{
    display: flex;
    /* grid-template-columns: repeat(1,1fr); */
    /* grid-template-rows: repeat(1,1fr); */
    /* width: 100%; */
    gap: 5px;
}
.collage-square div{
    flex: 1;
}
.collage-square img{
    width: 100%;
    flex: 1;
}
.square{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    justify-content: center;
}
 


 


 