.flex1{
    background-color: aquamarine;
    border-radius: 10px;

}
.flex2{
    background-color: aquamarine;
border-radius: 10px;
}
.container{
    display: flex;
    gap: 20px;
}
.box{
    width: 200px;
    height: 100px;
    border: 2px solid salmon;
    background-color: azure;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
@media screen and (max-width:576px) {
    .container{
        flex-direction: column-reverse;
    }
    
}