.header, .nav, .main ,.aside ,.footer, .sidebar, .advertise{
    background-color: bisque;
    border: 2px solid tomato;
    padding: 5px;
    border-radius: 5px;
}
.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
}
.main{
    grid-area: main;
}
.aside{
    grid-area: aside;
}
.footer{
    grid-area: footer;
}
.sidebar{
    grid-area: sidebar;
}
.advertise{
    grid-area: advertise;
}
.container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header header header header"
    "nav main main aside"
    "nav main main aside"
    "footer footer footer footer ";
}
@media screen and (max-width:576px) {
    .container{
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "aside"
        "footer";
    }
    
}
@media screen and (min-width:577px) and (max-width:992px) {
    .container{
        grid-template-areas: 
        "header header header header "
        "nav nav nav nav "
        "advertise main main"
        "sidebar footer footer";
    }
    
}