.food{
    border: 1px solid turquoise;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.food img{
    width: 100%;
}

/* smaller device */
@media screen and (max-width : 576px) {
    .container{
        grid-template-columns: repeat(1 , 1fr)
        ;
        background-color: aquamarine;
        text-decoration: gray;
        
    }
    
}
/* for medium device */
@media screen and (min-width:577px) and (max-width:992px) {
    .container{
        grid-template-columns: repeat(2,1fr);
        background-color: bisque;
    }
    
}