.food{
    border: 1px solid blue;
    border-radius: 10px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.food img{
    width: 100%;
}
@media screen and (max-width:576px) {
    .container{
        grid-template-columns: repeat(1,1fr);
    }
    
}